@font-face {
	font-family: mainFont;
	src: url("/public/BRUX-Regular.ttf");
}
body{
	margin: 0;
	padding: 0;
	background-color: #0088FF;
	font-family: Arial;
	overflow: hidden;
}
.gameParts{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	background-color: #ebbd34;
	display: none;
	z-index: 1;
}
	#ctx{
		display: inline-block;
		min-width: 480px;
		min-height: 255px;
		position: absolute;
		background-color: #FFFFFF;
		z-index: 2;
	}
	#ctx-score{
		position: absolute;
		left: 4px;
		top: 93%;
		z-index: 3;
		width: 6%;
		min-width: 65px;
	}
	#ctx-info{
		position: absolute;
		left: 0;
		top: 0;
		z-index: 3;
		width: 12%;
		min-width: 130px;
	}
		


		.upgrade-board{
			position: absolute;
			padding: 4px;
			padding-top: 20px;
			padding-bottom: 4px;
			height: 64px;
			top: 0;
			left: 50%;
			transform: translate(-50%,0);
			z-index: 4;
			display: block;
		}
		.upg_btn{
			width: 56px;
			height: 56px;
			background-color: #FFFFFF;
			border: 4px solid #000000;
			border-radius: 8px;
			position: absolute;
			display: inline-block;
		}
		.upg_left{
			left: 4px;
		}
		.upg_mid{
			left: 4px;
		}
		.upg_right{
			left: 4px;
		}
		.upg_fir{
			border-color: #000000;
			display: none;
		}
		.upg_sec{
			border-color: #00ffbf;
			display: none;
		}
		.upg_thi{
			border-color: #8f6400;
			display: none;
		}
		.upg_for{
			border-color: #999c9b;
			display: none;
		}
		.upg_fif{
			border-color: #ffc400;
			display: none;
		}
		.upg_six{
			border-color: #960000;
			display: none;
		}
		.upg_ae{
			border-bottom-color: #266474;
		}

[up-title]:hover:after {
    opacity: 0.8;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[up-title]:after {
    content: attr(up-title);
    background-color: #377585;
    color: #FFFFFF;
    font-size: 0.8em;
    padding: 2px 4px 0 4px;
    position: absolute;
    bottom: -1.8em;
    left: 50%;
    display: table;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #333;
    opacity: 0;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    z-index: 99999;
    visibility: hidden;
    transform: translate(-50%,0);
    text-align: center;
}
[up-title] {
    position: relative;
}